@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('/fonts/HelveticaNeueLTPro-MdEx.eot');
  src: url('/fonts/HelveticaNeueLTPro-MdEx.eot?#iefix') format('embedded-opentype'),
    url('/fonts/HelveticaNeueLTPro-MdEx.woff2') format('woff2'),
    url('/fonts/HelveticaNeueLTPro-MdEx.woff') format('woff'),
    url('/fonts/HelveticaNeueLTPro-MdEx.ttf') format('truetype'),
    url('/fonts/HelveticaNeueLTPro-MdEx.svg#HelveticaNeueLTPro-MdEx') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('/fonts/HelveticaNeueLTPro-LtEx.eot');
  src: url('/fonts/HelveticaNeueLTPro-LtEx.eot?#iefix') format('embedded-opentype'),
    url('/fonts/HelveticaNeueLTPro-LtEx.woff2') format('woff2'),
    url('/fonts/HelveticaNeueLTPro-LtEx.woff') format('woff'),
    url('/fonts/HelveticaNeueLTPro-LtEx.ttf') format('truetype'),
    url('/fonts/HelveticaNeueLTPro-LtEx.svg#HelveticaNeueLTPro-LtEx') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('/fonts/HelveticaNeueLTPro-ThEx.eot');
  src: url('/fonts/HelveticaNeueLTPro-ThEx.eot?#iefix') format('embedded-opentype'),
    url('/fonts/HelveticaNeueLTPro-ThEx.woff2') format('woff2'),
    url('/fonts/HelveticaNeueLTPro-ThEx.woff') format('woff'),
    url('/fonts/HelveticaNeueLTPro-ThEx.ttf') format('truetype'),
    url('/fonts/HelveticaNeueLTPro-ThEx.svg#HelveticaNeueLTPro-ThEx') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
