@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('/fonts/HelveticaNeueLTProThEx.eot');
  src: url('/fonts/HelveticaNeueLTProThEx.eot?#iefix') format('embedded-opentype'),
    url('/fonts/HelveticaNeueLTProThEx.woff2') format('woff2'),
    url('/fonts/HelveticaNeueLTProThEx.woff') format('woff'),
    url('/fonts/HelveticaNeueLTProThEx.ttf') format('truetype'),
    url('/fonts/HelveticaNeueLTProThEx.svg#Helvetica Neue LT Pro') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('/fonts/HelveticaNeueLTProMdEx.eot');
  src: url('/fonts/HelveticaNeueLTProMdEx.eot?#iefix') format('embedded-opentype'),
    url('/fonts/HelveticaNeueLTProMdEx.woff2') format('woff2'),
    url('/fonts/HelveticaNeueLTProMdEx.woff') format('woff'),
    url('/fonts/HelveticaNeueLTProMdEx.ttf') format('truetype'),
    url('/fonts/HelveticaNeueLTProMdEx.svg#Helvetica Neue LT Pro') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('/fonts/HelveticaNeueLTProLtEx.eot');
  src: url('/fonts/HelveticaNeueLTProLtEx.eot?#iefix') format('embedded-opentype'),
    url('/fonts/HelveticaNeueLTProLtEx.woff2') format('woff2'),
    url('/fonts/HelveticaNeueLTProLtEx.woff') format('woff'),
    url('/fonts/HelveticaNeueLTProLtEx.ttf') format('truetype'),
    url('/fonts/HelveticaNeueLTProLtEx.svg#Helvetica Neue LT Pro') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gyahegi';
  src: url('/fonts/Gyahegi.eot');
  src: url('/fonts/Gyahegi.eot?#iefix') format('embedded-opentype'),
    // url('/fonts/Gyahegi.woff2') format('woff2'),
    url('/fonts/Gyahegi.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
