@import './utils/_font';
@import './utils/_var';

*,
*::before,
*::after {
  user-select: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  padding: 0;
  text-rendering: optimizeSpeed;
  font-size: 1.6rem;
  font-family: 'Helvetica Neue LT Pro', sans-serif;
  overflow-x: hidden;
  overflow-y: overlay;
  color: $black;
  background: linear-gradient(90deg, #c0d9fc 0%, #e1eaf7 100%);
  background-attachment: fixed;
}

.no-overflow-y {
  overflow-y: hidden;
}

.webgl:active {
  cursor: grab;
}

.webgl.hide-default-cursor {
  cursor: none;
}

p {
  font-weight: 300;
}

.credits {
  position: absolute;
  bottom: 20px;
  font-size: 1.2rem;

  a {
    color: $black;
    opacity: 0.8;
    transition: opacity ease 0.55s;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background: $black;
      width: 100%;
      height: 1px;
      bottom: -2px;
      transform-origin: 100%;
      transform: scaleX(0);
      transition: transform cubic-bezier(0.65, 0, 0.35, 1) 0.55s;
      left: 0;
    }
    &:hover {
      opacity: 1;
      &::after {
        transform-origin: 0;
        transform: scale(1);
      }
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $accent-color;
  border: transparent solid 1px;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 1.6rem;
  color: $dark-grey;
  position: relative;
  transition: border 0.35s ease, transform cubic-bezier(0.65, 0, 0.35, 1) 0.1s,
    opacity ease 0.1s;
  outline: none;

  &:hover,
  &:focus {
    border: $dark-grey solid 1px;
  }

  span {
    font-weight: 300;
  }
}

.layer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
  opacity: 1;
  z-index: 1;
  text-align: center;
}

.start-screen {
  padding: 15px;
  .title {
    path {
      fill: $black;
    }
    max-height: 5rem;
    margin-bottom: 12px;
  }

  p {
    font-weight: 300;
  }
}
.login-error {
  width: 50%;
  font-size: 1.2rem;
  margin-top: 15px;
}

.room-selection {
  padding: 15px;
  p {
    margin: 15px 0;
  }
}

.join-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.join-input-container {
  input {
    padding: 10px 5px;
    font-weight: 300;
    text-align: center;
    background-color: transparent;
    outline: none;
    margin-right: 5px;
    border: $dark-grey solid 1px;
    border-radius: 7px;
    font-size: 1.4rem;
    transition: background-color 0.35s ease;

    &::placeholder {
      color: $dark-grey;
      opacity: 1;
    }

    &:focus,
    &:hover {
      background-color: $accent-color;
    }
  }
}

.join-room-btn {
  font-size: 1.4rem;
  height: 100%;
  padding: 0 10px;
}

.spotify-btn-container {
  margin-top: 20px;
}

.spotify-btn {
  .spotify-span {
    font-weight: 300;
  }

  svg {
    height: 2.5rem;
    margin-left: 5px;
  }

  path {
    fill: $dark-grey;
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
.start-btn-container,
.hint-container,
.back-btn-container,
.waiting-container {
  &.hidden {
    opacity: 0;
  }
}

.start-btn-container,
.hint-container,
.back-btn-container,
.waiting-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: opacity 0.3s;
  opacity: 1;
  text-align: center;
}

.start-btn-container,
.hint-container,
.waiting-container {
  width: 100%;
  bottom: 20px;
}

.waiting-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .copy-link {
    color: $black;
    opacity: 1;
    font-weight: 400;
    transform: scale(1);
    margin-top: 10px;

    svg {
      width: 15px;
      margin-right: 10px;
    }

    &.clicked {
      transform: scale(0.95);
      opacity: 0.8;
    }
  }
}

.back-btn {
  background-color: #fff;
}

.hint-container.hidden {
  opacity: 0;
}

.canvas-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 0;
  transform: translateY(0);
  transition: transform cubic-bezier(0.65, 0, 0.35, 1) 0.75s;

  &.reduced {
    transform: translateY(-20vh);
  }
}

.labels {
  position: absolute;
  left: 0;
  top: 0;
  color: #000;
}

.user-name {
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s;
  font-size: 1.5rem;
  text-align: center;
  width: 10em;
  font-weight: 200;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-name.hidden {
  opacity: 0;
}

.back-btn-container {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 20px;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.3s;

  &.hidden {
    opacity: 0;
  }
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0;
  opacity: 0;
  transform: translateY(0);
  transition: transform cubic-bezier(0.65, 0, 0.35, 1) 0.65s, opacity 0.65s;
}

.results.show {
  transform: translateY(-40vh);
  opacity: 1;
  z-index: 1;
  height: auto;
}
.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-bottom: 25px;
  h2 {
    font-size: 2.5rem;
    position: relative;
    font-weight: 100;
    text-align: center;
  }

  .score {
    font-size: 3.5rem;
  }
}

.artists-container,
.tracks-container,
.genres-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-bottom: 50px;

  h2 {
    font-size: 1.8rem;
    margin-bottom: 4em;
    position: relative;
    font-weight: 100;
    text-align: center;

    &::after {
      position: absolute;
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32.18 16.589'%3E%3Cpath id='Tracé_2' data-name='Tracé 2' d='M20827.842,15141l15.383,15.383,15.383-15.383' transform='translate(-20827.135 -15140.294)' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3C/svg%3E%0A");
      width: 25px;
      bottom: 0%;
      left: 50%;
      transform: translate(-50%, 200%);
    }
  }
}

.artists-list,
.tracks-list,
.genres-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  h3 {
    font-weight: 300;
  }

  li {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 0 5px 5px 0;
    margin: 10px;
    flex-grow: 1;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
  }

  .text-only {
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    height: auto;

    .track-info,
    .artist-info {
      padding: 0;
    }

    .genre {
      text-transform: capitalize;
      font-size: 1.6rem;
      width: 100%;
    }
  }

  h4 {
    font-weight: 100;
    margin-top: 0.5em;
  }

  img {
    width: auto;
    height: 100%;
    object-fit: cover;
  }
}

.track-info,
.artist-info {
  padding: 20px;
  width: 100%;
  overflow: hidden;
}

.artists-list {
  h3 {
    font-size: 1.8rem;
  }
}
.tracks-list {
  h3 {
    font-size: 1.7rem;
  }
  h4 {
    font-size: 1.4rem;
  }
}

.artists-list {
  li {
    height: 100px;
  }
}

.tracks-list li {
  height: 120px;
}

@media screen and (max-width: 760px) {
  .tracks-list li {
    height: 150px;

    h3,
    h4 {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    h4 {
      -webkit-line-clamp: 1;
    }
  }
}

.play-on-spotify {
  display: flex;
  align-items: center;
  color: $dark-grey;
  margin-top: 10px;
  opacity: 1;
  transition: opacity ease 0.35s;

  span {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 300;
    margin-left: 5px;
  }

  svg {
    width: 15px;
  }

  &:hover {
    opacity: 0.7;
  }
}

.cursor {
  width: 70px;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  pointer-events: none;
  opacity: 0;

  .arrow1 {
    animation: translateYPos 2s cubic-bezier(0.65, 0, 0.35, 1) infinite;
  }
  .arrow2 {
    animation: translateYNeg 2s cubic-bezier(0.65, 0, 0.35, 1) infinite;
  }
  .arrow3 {
    animation: translateXNeg 2s cubic-bezier(0.65, 0, 0.35, 1) infinite;
  }
  .arrow4 {
    animation: translateXPos 2s cubic-bezier(0.65, 0, 0.35, 1) infinite;
  }
}

@keyframes translateYPos {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes translateYNeg {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes translateXNeg {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes translateXPos {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateY(0);
  }
}
